<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style//main.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js" integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4=" crossorigin="anonymous"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SHORT LINK</title>
</head>
<body>

  <div class="preloader-background">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 id="modalhead">
          
           Get your short URL in 1 sec :)</h4>
        <p id="modalbody">Insert web address in the search bar and press enter. <br>The short URL is returned with the long URL that was entered in the search bar. <br>
          <i class="fa fa-github" style="color:#2979ff" aria-hidden="true"></i>Check code on github : <a href="">0x4bd0</a></nr></p>
      </div>
      <div class="modal-footer">
        <a href="#modal1" class=" modal-action modal-close waves-effect waves-green btn-flat">OK</a>
      </div>
    </div>

    <div id="modal2" class="modal">
      <div class="modal-content">
        <h4 id="modalhead2" style="color:black;text-align: center">:)</h4>
      </div>
      <div class="modal-footer">
        <a href="#modal2" id="close2" class=" modal-action modal-close waves-effect waves-green btn-flat">OK</a>
      </div>
    </div>

    <button data-target="modal1" class='btn white btn-large modal-trigger' href="#modal1"><i class="fa fa-info-circle" style="color:#2979ff" aria-hidden="true"></i>
    </button>
    <br>
    <h1 class="center-align">Little URL</h1>
    <br>
    <div id="bla">
      <form id="urlinput" class="blue lighten-2 center-align">
        <div class="input-field">
          <input id="url" type="url" required />
          <label id="urllabel" for="url"></label>
        </div>
      </form>
    </div>
    <br><br><br>
    <div class="center-align">
      <div id="long_url"></div>
      <br>
      <div id="short_url"></div>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>


    <script>
    $(document).ready(function() {
      $('.preloader-background').delay(500).fadeOut('slow');
        
        $('.preloader-wrapper')
          .delay(500)
          .fadeOut();

    $('.modal-trigger').leanModal()

    $("#urlinput").on('submit', function(e){

      $('.preloader-background').fadeIn('slow');
        
        $('.preloader-wrapper')
          .fadeIn();


      $('#url').prop("disabled", true);

    e.preventDefault()

    $.ajax({
    url : "/url",
    type: "POST",
    data : {
        'url' : $('#url').val()
    }
  }).then(data=>{
    
    $('.preloader-background').fadeOut('slow')
        
        $('.preloader-wrapper')
          .fadeOut();


          setTimeout(function(){
            $('#modalhead2').text(window.location.origin+'/'+data.output)

            $('#modal2').slideDown()
           }, 500);

  })

    });

    $('#close2').on('click',function(e){
      $('#modal2').fadeOut()
    })

    });
    </script>
</body>
</html>
